<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
	<form action="" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}"
		th:value="${_csrf.token}">
		
			Name: <input type="text" th:field="${user.name}"/><br>
			Username: <input type="text" th:field="${user.username}"/><br>
			Password: <input type="password" th:field="${user.password}"/><br>
			Confirm Password: <input type="password" id="confirmPassword"/><br>
			<button type="submit">Register</button>
		


	</form>
</body>
</html>